<div class="banner">
  <div class="container">
    <h1>These dogs have skills</h1>
    <p>which one can help you?</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    <% @dogs.each do |dog| %>
      <% if dog.photo.attached? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path dog.photo.key, crop: :fill %>')">
          <%= link_to dog_path(dog.id) do %>
              <h3><%= dog.name %></h3>
          <% end %>
          <p><%= dog.category %></p>
          <p>City: <%= dog.city %></p>
          <%= link_to dog_path(dog), id: "remove", method: :delete, data: { confirm: "are you sure? #{dog.name} is pretty swell..." } do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
        <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/500x400/?dog')">
            <%= link_to dog_path(dog.id) do %>
                <h3><%= dog.name %></h3>
            <% end %>
            <p><%= dog.category %></p>
            <p>City: <%= dog.city %></p>
            <%= link_to dog_path(dog), id: "remove", method: :delete, data: { confirm: "are you sure? #{dog.name} is pretty swell..." } do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
