<div class="banner ban-index">
  <div class="container">
    <h1>These dogs have skills</h1>
    <p>which one will help you?</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    <% @dogs.each do |dog| %>
      <% if dog.photo.attached? %>
        <div class="card">
          <div class="img-card">
            <%= link_to dog_path(dog.id) do %>
              <%= cl_image_tag dog.photo.key, crop: :fill %>
            <% end %>
          </div>
          <div class="basic-info">
            <h3><%= dog.name %></h3>
            <p><%= dog.category %></p>
            <p>City: <%= dog.city %>, DE</p>
          </div>
          <%= link_to dog_path(dog), id: "remove", method: :delete, data: { confirm: "are you sure? #{dog.name} is pretty swell..." } do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
        <% else %>
        <div class="card">
          <div class="img-card">
            <%= link_to dog_path(dog.id) do %>
              <img src="https://source.unsplash.com/500x400/?dog" alt="">
            <% end %>
          </div>
          <div class="basic-info">
            <h3><%= dog.name %></h3>
            <p><%= dog.category %></p>
            <p>City: <%= dog.city %>, DE</p>
          </div>
          <%= link_to dog_path(dog), id: "remove", method: :delete, data: { confirm: "are you sure? #{dog.name} is pretty swell..." } do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
