<div class="banner">
  <div class="container">
    <h1>These dogs have skills</h1>
    <p>which one can help you?</p>
  </div>
</div>

<div class="container">
  <div class="grid">
    <% @dogs.each do |dog| %>
      <div class="card">
        <%= link_to dog_path(dog.id) do %>
            <h3><%= dog.name %></h3>
        <% end %>
        <p><%= dog.category %></p>
        <p>City: <%= dog.city %></p>
        <%= link_to dog_path(dog), id: "remove", method: :delete, data: { confirm: "are you sure? #{dog.name} is pretty swell..." } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
