<div class="container">
  <div class="card-dog">
    <% if @dog.photo.attached? %>
      <%= cl_image_tag @dog.photo.key, height: 600, width: 500, crop: :fill %>
    <% else %>
      <img src="https://source.unsplash.com/1000x600/?dog" alt="">
    <% end %>
    <div class="card-dog-infos">
      <div class="card-dog-left">
        <h5>#<%= @dog.category %></h5>
        <h2><%= @dog.name %></h2>
        <p><i class="fas fa-map-marker"></i>  <%= @dog.city %></p>
        <p><i class="fas fa-dog"></i> <%= @dog.breed %></p>
        <p><i class="fas fa-weight"></i> <%= @dog.size %></p>
        <p>Hypoallergenic: <%= @dog.hypoallergenic ? "ðŸ‘" : "ðŸ‘Ž" %></p>
        <p>Description</p>
        <p><%= @dog.description %></p>
      </div>
      <div class="card-dog-right">
        <% if current_user.dogs.empty? %>
          <%= image_tag "https://res.cloudinary.com/l5141/image/upload/v1612464373/ekhsu0kdqotrqw2zmkps.jpg", class: "card-dog-user avatar-bordered" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "card-dog-user avatar-bordered" %>
        <% end %>
        <p>Owned by <span><%= @dog.user.first_name %> <%= @dog.user.last_name %></span></p>
          <div class="card-dog-right-price">
            <h2 class="card-dog-pricing">99,99â‚¬ per day </h2>
            <%= link_to "Select a date", new_dog_booking_path(@dog), class: "btn btn-info btn-lg"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pb-4">
  <%= link_to 'Back to all dogs', dogs_path, class: "btn btn-secondary btn-sm" %>
  <%= link_to 'Retire this dog', dog_path(@dog.id), class: "btn btn-warning btn-sm", method: :delete, data: { confirm: "are you sure? #{@dog.name} is pretty swell..." } %>
</div> 
