<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 p-5">
      <h1>My Bookings</h1>

      <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= booking.date %> Dog: <%= booking.dog.name %> <br>
          Dog-owner:
          <%= booking.dog.user.first_name %>  <%= booking.dog.user.last_name %>
           - City: <%= booking.dog.city %>
        </li>
        <% end %>
      </ul>
      <div class="btn-group">
				<%= link_to 'Back', dogs_path, class: "btn btn-default" %>
			</div>
		</div>
	</div>
</div>